.color{
    color: #fff;
}
.navbar{
    padding: 2rem;
    background-color: cornflowerblue;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    border-bottom: 1px solid transparent;
    &:hover{
        cursor: pointer;
        border-bottom: 1px solid #fff;
    }
}

a{
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}