<div [ngClass]="{'asidebarGrid': true, 'mostrar': mostrar}">
    <button (click)="cerrar()">x</button>
    <div *ngIf="userObser$ | async as user" >
        <p>{{user.data.id}}</p>
        <p>{{user.data.email}}</p>
        <p>{{user.data.first_name}}</p>
        <p>{{user.data.last_name}}</p>
        <img width="100%" [src]="user.data.avatar" alt="">
    </div>
    
</div>







<!-- <div class="w300">
    <mat-drawer class="w300" #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
        <mat-form-field appearance="fill">
            <mat-label>Sidenav mode</mat-label>
            <mat-select #mode value="side">
            <mat-option value="side">Side</mat-option>
            <mat-option value="over">Over</mat-option>
            <mat-option value="push">Push</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Has backdrop</mat-label>
            <mat-select #hasBackdrop>
            <mat-option>Unset</mat-option>
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
            </mat-select>
        </mat-form-field>
    <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
</div> -->