<section class="container">
    <div class="formulario1">
            <form [formGroup]="formulario" *ngIf="!register; else registroA;">
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Nombre del Usuario</mat-label>
                    <input class="color" matInput type="text" formControlName="nombre" name="value">
                    <button matSuffix mat-icon-button aria-label="Clear">
                    <!-- <mat-icon>close</mat-icon> -->
                    </button>
                    <mat-error *ngIf="nombreControl?.hasError('required')">
                        el valor es obligtorio
                    </mat-error>
                    <!-- <mat-error *ngIf="nombreControl?.errors?.minLength"> -->
                </mat-form-field>
                <br>
                <div formGroupName="comparePassword">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input class="color" matInput type="text" formControlName="password" name="value">
                        <button matSuffix mat-icon-button aria-label="Clear">
                        <!-- <mat-icon>close</mat-icon> -->
                        </button>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="passwordControl.hasError('required')">
                            el valor es obligtorio
                        </mat-error>
                    </mat-form-field>
                </div>
                <br />
                <div class="botones">
                    <a routerLink="/inicio">
                        <button mat-raised-button>Regresar</button>
                    </a>
                    <button [disabled]="formulario.invalid" mat-raised-button color="primary">Entrar</button>
                </div>
            </form>
            <ng-template #registroA>
                <div class="noseve">
                    <button (click)="cambiar()" mat-raised-button color="primary" class="botonMedio">Login</button>
                </div>
            </ng-template>
        <!-- </div> -->
    </div>

    <div class="formulario2">
        <form [formGroup]="formulario" *ngIf="register; else registroC;">
            <div class="margend">

                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Nombre del Usuario</mat-label>
                    <input class="color" matInput type="text" formControlName="nombre" name="value">
                    <button matSuffix mat-icon-button aria-label="Clear">
                    <!-- <mat-icon>close</mat-icon> -->
                    </button>
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <mat-error *ngIf="nombreControl?.errors?.required && nombreControl?.touched">
                        el vlor es obligtorio
                    </mat-error>
                    <mat-error *ngIf="nombreControl?.errors?.minLength && nombreControl?.touched">
                        {{ nombreControl?.errors }}
                    </mat-error>
                </mat-form-field>
                <div formGroupName="comparePassword">

                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Contraseña</mat-label>
                        <input class="color" matInput type="text" formControlName="password" name="value">
                        <button matSuffix mat-icon-button aria-label="Clear">
                        <!-- <mat-icon>close</mat-icon> -->
                        </button>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="passwordControl?.errors?.required && passwordControl?.touched">
                            el valor es obligtorio
                        </mat-error>
                        <mat-error *ngIf="passwords?.hasError('diferente')">
                            <!-- {{ nombreControl?.errors }} -->
                        <!-- <mat-error *ngIf="nombreControl.hasError('minLength')"> -->
                            la contraseña es diferente <strong> diferente</strong>
                        </mat-error>
                    </mat-form-field>
    
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Repetir Contraseña</mat-label>
                        <input class="color" matInput type="text" formControlName="passwordDos" name="value">
                        <button matSuffix mat-icon-button aria-label="Clear">
                        <!-- <mat-icon>close</mat-icon> -->
                        </button>
                        <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                        <mat-error *ngIf="passwordControlDos?.hasError('required') && passwordControlDos?.touched">
                            el valor es obligtorio
                        </mat-error>
                        <mat-error *ngIf="(passwords?.hasError('diferente') && passwordControlDos?.dirty) || (passwordControlDos?.touched && passwordControlDos?.dirty) || passwords?.hasError('diferente')">
                            
                            <!-- <mat-error *ngIf="nombreControl.hasError('minLength')"> -->
                                las contraseñas son <strong> diferentes</strong>
                            </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="botones">
                <a routerLink="/inicio">
                    <button mat-raised-button>Regresar</button>
                </a>
                <button [disabled]="formulario.invalid" mat-raised-button color="primary">Registrate</button>
            </div>
        </form>
        <ng-template #registroC>
            <div class="noseve">
                <button (click)="cambiar()" mat-raised-button color="primary" class="botonMedio">Registrarte</button>
            </div>
        </ng-template>
    </div>
</section>
        <p>{{ formulario.value | json }}</p>
        <p>status : {{  formulario.status }}</p>
        <p>parent : {{  formulario.parent }}</p>
        <p>status : {{  formulario.status }}</p>
        <p>valid : {{  formulario.valid }}</p>
        <p>invalid : {{  formulario.invalid }}</p>
        <p>pending : {{  formulario.pending }}</p>
        <p>disabled : {{  formulario.disabled }}</p>
        <p>enabled : {{  formulario.enabled }}</p>
        <p>errors : {{  formulario.errors }}</p>
        <p>pristine : {{  formulario.pristine }}</p>
        <p>dirty : {{  formulario.dirty }}</p>
        <p>touched : {{  formulario.touched }}</p>
        <p>untouched : {{  formulario.untouched }}</p>